/* width */

::-webkit-scrollbar {
  width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
  background: #ececec;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 38, 0.7);
  outline: none;
}

.page-main-content {
  overflow: hidden;
}

.page-main-content::before {
  content: '';
  background: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -3;
}

.top-nav {
  position: relative;
}

.top-nav::before,
.top-nav::after {
  content: '';
}

.top-nav::before {
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
}

nav {
  background: #1D2124;
}

.navbar {
  background-color: #931111 !important;
  z-index: 999;
}

@media (max-width: 1440px) {
  .navbar {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .navbar {
    position: relative;
    bottom: -5px;
  }
}

.navbar.fixed-position {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: inherit;
}

.navbar-nav .dropdown-menu {
  top: 43px;
  left: -5px;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
  border: none;
  transition: height 0.2s linear;
  transition-delay: 0.2s;
  background: #931111;
  border-radius: 0;
}

@media (max-width: 1200px) {
  .navbar-nav .dropdown-menu {
    height: 0;
  }

  .navbar-nav .dropdown-menu.show {
    display: block;
    height: 90px;
    bottom: inherit;
    top: inherit;
  }
}

.navbar-nav .nav-item.dropdown {
  margin-left: -4px;
}

.navbar.navbar-dark .navbar-nav .dropdown:hover .dropdown-menu {
  height: 147px;
  padding-top: 6px;
  transition-delay: 0.2s;
  top: 49px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media (max-width: 1400px) {
  .navbar.navbar-dark .navbar-nav .dropdown:hover .dropdown-menu {
    top: 40px;
  }
}

@media (max-width: 1200px) {
  .navbar.navbar-dark .navbar-nav .dropdown:hover .dropdown-menu {
    padding: 0;
    margin: 0;
  }

  .navbar.navbar-dark .navbar-nav .dropdown .dropdown-menu {
    position: static;
  }

  .navbar.navbar-dark .navbar-nav .dropdown:hover .dropdown-menu {
    height: 128px;
  }

  .navbar.navbar-dark .navbar-nav .dropdown .dropdown-menu {
    display: block;
    padding: 0;
    margin: 0;
    transition: all .3s linear;
  }
}

.navbar-nav .dropdown-menu {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-right: 30px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  opacity: 0.7;
  transition: all 0.2s linear;
  transition-delay: 0s;
}

.navbar-nav .dropdown-menu {
  opacity: 1;
  left: 4px;
}

.navbar.navbar-dark .navbar-nav .nav-link {
  position: relative;
  font-size: 18px;
  letter-spacing: 0.8px;
  margin-right: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  padding: 12px 26px;
  opacity: 0.9;
  transition: all 0.2s linear;
  overflow: hidden;
}

.navbar.navbar-dark .navbar-nav .nav-item:first-child .nav-link {
  padding-right: 44px;
}

.navbar.navbar-dark .navbar-nav .nav-link .fas {
  position: absolute;
  right: 21px;
  top: 16px;
  transition: all 0.3s linear;
  opacity: 0.5;
}

.navbar.navbar-dark .navbar-nav .nav-item:hover .fas {
  transform: rotate(180deg);
}

.navbar.navbar-dark .navbar-nav .nav-item:last-child .nav-link {
  margin-right: 0;
}

@media (max-width: 1440px) {
  .navbar.navbar-dark .navbar-nav .nav-link {
    font-size: 15px;
    padding: 10px 20px;
    letter-spacing: 0.7px;
  }
}

@media (max-width: 1200px) {
  .navbar.navbar-dark .navbar-nav .nav-item:first-child .nav-link {
    padding-left: 25px;
  }
}

.navbar.navbar-dark .navbar-nav .nav-link:after,
.navbar.navbar-dark .navbar-nav .nav-link:before {
  background: #fff;
}

.navbar.navbar-dark .navbar-nav .nav-link:after {
  content: '';
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  transition: all 0.2s linear;
  height: 4px;
  border: none;
  opacity: 0.4;
}

.navbar .navbar-nav .dropdown .nav-link::after {
  transition-delay: 0.2s;
}

@media (max-width: 1200px) {
  .navbar .navbar-nav .dropdown .nav-link::after {
    display: none;
  }
}

.navbar .navbar-nav .nav-link:hover {
  opacity: 1;
}

.navbar .navbar-nav .dropdown:hover .nav-link::after,
.navbar .navbar-nav .nav-link:hover::after {
  top: 40px;
  opacity: 0.6;
}

@media (max-width: 1400px) {

  .navbar .navbar-nav .dropdown:hover .nav-link::after,
  .navbar .navbar-nav .nav-link:hover::after {
    top: 35px;
    height: 2px;
  }
}

@media (max-width: 1200px) {

  .navbar .navbar-nav .dropdown:hover .nav-link::after,
  .navbar .navbar-nav .nav-link:hover::after {
    display: none;
  }
}

.navbar .navbar-nav .dropdown:hover .nav-link::after {
  transition-delay: 0s;
}

.navbar .navbar-nav .dropdown-item {
  position: relative;
  font-size: 18px;
  text-transform: none;
  letter-spacing: 0.8px;
  margin-right: 30px;
  color: #fff;
  opacity: 0.7;
  transition: all 0.2s linear;
  line-height: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
}

@media (max-width: 1400px) {
  .navbar .navbar-nav .dropdown-item {
    font-size: 15px;
    padding: 4px 17px;
    letter-spacing: 0.7px;
  }
}

@media (max-width: 1200px) {
  .navbar .navbar-nav .dropdown-item {
    font-size: 15px;
    padding-left: 40px;
    letter-spacing: 0.7px;
  }
}

.navbar .navbar-nav .dropdown-item:hover {
  opacity: 1;
  background: transparent;
}

.navbar .navbar-nav .dropdown-item::before {
  content: '';
  position: absolute;
  left: -4px;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #fff;
  opacity: 0.7;
  transition: all 0.2s linear;
}

@media (max-width: 1200px) {
  .navbar .navbar-nav .dropdown-item::before {
    display: none;
  }
}

.navbar .navbar-nav .dropdown-item:hover::before {
  content: '';
  left: 0;
}

.navbar-top-section .patron-section .parton-link {
  max-width: 220px;
  position: absolute;
  top: 0px;
  right: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  .navbar-top-section .patron-section .parton-link {
    top: 4px;
  }
}

@media (max-width: 768px) {
  .navbar-top-section .patron-section .parton-link {
    right: 15px;
  }
}

.navbar-top-section .patron-section .parton-link:hover {
  text-decoration: none;
}

.navbar-top-section .patron-section .krk-logo {
  max-width: 190px;
  position: relative;
  top: 4px;
}

@media (max-width: 1200px) {
  .navbar-top-section .patron-section .krk-logo {
    max-width: 100px;
    margin-bottom: 3px;
  }
}

.navbar-top-section .patron-section .patron-txt {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  text-align: center;
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 0px;
  color: rgb(0, 99, 175);
}

@media (max-width: 1200px) {
  .navbar-top-section .patron-section .patron-txt {
    font-size: 8px;
    line-height: 12px;
  }
}

.navbar-top-section .logo-box {
  position: relative;
}

.navbar-top-section .logo-box .logo-img {
  max-width: 160px;
  width: 100%;
  margin-left: 6px;
}

@media (max-width: 1200px) {
  .navbar-top-section .logo-box .logo-img {
    max-width: 100px;
    margin: 0;
  }
}

.navbar-top-section .logo-box .logo-txt {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #78152B;
  font-size: 20px;
  position: absolute;
  bottom: -4px;
}

@media (max-width: 1200px) {
  .navbar-top-section .logo-box .logo-txt {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .navbar-collapse.show {
    margin: 0 !important;
    background: #931111;
  }
}

.main-page-top {
  overflow: hidden;
}

.social-box {
  position: absolute;
  right: -10px;
  top: 9px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 80px;
  z-index: 1;
}

@media (max-width: 1200px) {
  .social-box {
    position: absolute;
    top: 6px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .social-box {
    display: none;
  }
}

.social-box .social-item {
  color: #4267b2;
  text-decoration: none;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 30px 0px 6px;
  min-height: 20px;
  margin-left: 10px;
}

.social-box .social-item .social-item-icon {
  font-size: 21px;
  padding-right: 10px;
}

.social-box .social-item .social-item-txt {
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 1200px) {
  .social-box .social-item .social-item-txt {
    font-size: 10px
  }

  .top-second-section {
    margin-top: -50px;
  }
}


/* OUR ACTIVITY */

.our-activity {
  margin: 30px 0;
}

@media (max-width: 1200px) {
  .our-activity {
    margin-top: 0;
  }
}

.our-activity .our-activity-list-card .card-body {
  padding: 10px 16px;
  background: transparent;
  border-left: 2px solid #f3f3f3;
  height: 110px;
}

@media (max-width: 1200px) {
  .our-activity .our-activity-list-card .card-body {
    height: auto;
  }
}

.our-activity .propaganda-card .our-activity-list-card .card-body {
  height: 68px;
  box-sizing: border-box;
  padding: 7px 16px;
}


.our-activity .propaganda-card .our-activity-card .our-activity-list-card .card-title {
  margin-bottom: 0px !important;
}

.our-activity .our-activity-list-card .card-body .more-info-btn {
  position: absolute;
  right: -15px;
  bottom: 10px;
  transition: right 0.3s linear;
  padding: 0 15px;
  line-height: 20px;
  background: transparent;
  color: #931111;
  border: none;
  font-size: 12px;
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-activity .propaganda-card .our-activity-list-card .card-body .more-info-btn {
  bottom: 6px;
}

.our-activity .our-activity-list-card:hover .card-body .more-info-btn {
  right: 19px;
}

.our-activity .our-activity-list-card .card-body .more-info-btn .fas {
  font-size: 13px;
}

.our-activity .our-activity-list-card .card-text {
  line-height: 19px;
  font-size: 14px;
  color: #7d7b84;
}

.our-activity .our-activity-card {
  border: none;
  background: transparent;
  max-width: 650px;
  margin-left: 38px;
}

@media (max-width: 1700px) {
  .our-activity .our-activity-card {
    max-width: 625px;
  }
}

.our-activity .our-activity-card.calendar-card {
  margin-left: 0;
}

@media (max-width: 1200px) {
  .our-activity .our-activity-card {
    margin: 0;
  }
}

.our-activity .our-activity-card.our-activity-programs-projects {
  width: auto;
  background: transparent;
}

@media (max-width: 1200px) {
  .our-activity .our-activity-card.our-activity-programs-projects {
    margin-right: 0 !important;
  }
}

.our-activity .our-activity-card.our-activity-programs-projects .card-header {
  background: transparent;
}

.our-activity .our-activity-card.our-activity-programs-projects .other-projects .card:first-child .card-header {
  /* border-top-right-radius: 20px; */
  /* border-top-left-radius: 20px; */
  border-top: 25px solid #bf1616;
}

.our-activity .our-activity-card.our-activity-programs-projects .other-projects .card:last-child .card-header {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.our-activity .our-activity-card.our-activity-programs-projects .other-projects .card-header {
  min-height: auto;
  border-radius: 0;
  border: 0;
  box-shadow: 0 3px 5px -1px #adb5bd;
  transition: all 0.3s linear;
}

.other-projects-accordion .card-title {
  text-align: left;
}

.our-activity .our-activity-card.our-activity-programs-projects .other-projects-accordion .card {
  border-radius: 0;
  background: transparent;
}

.our-activity .other-projects-accordion .card .card-title {
  /* background: #bf1616; */
  /* pointer-events: none; */
}

.our-activity .other-projects-accordion .card .card-title.collapsed {
  pointer-events: all;
}

.other-projects-accordion .card-title .card-title-header {
  font-size: 26px;
  line-height: 23px;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.other-projects-accordion .card-title .card-title-header-txt {
  font-size: 16px;
  line-height: 12px;
  /* color: #fff; */
  font-family: 'Roboto Condensed', sans-serif;
}

.other-projects-accordion .accordion-film-list .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.other-projects-accordion .accordion-film-list .list-group-item .accordion-yt-ico {
  font-size: 37px;
  position: absolute;
  right: -7px;
  bottom: -10px;
  transform: rotate(-14deg);
  color: red;
}

.our-activity .our-activity-card.our-activity-programs-projects .card-header .our-activity-card-title {
  color: #790000;
  font-weight: bold;
}

.our-activity .our-activity-card.our-activity-programs-projects .card {
  border-radius: 20px;
  margin-bottom: 8px;
  border: none;
  overflow: hidden;
}

.our-activity .our-activity-card.our-activity-programs-projects .card:last-child {
  margin-bottom: 0;
}

.our-activity .our-activity-card.our-activity-programs-projects .card .card-title {
  font-size: 20px;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  margin: 0;
  text-decoration: none;
  color: #363636;
  border-radius: 0;
  padding: 16px 30px 10px;
}

.our-activity .our-activity-card.our-activity-programs-projects .card .card-carret-ico {
  position: absolute;
  top: 22px;
  right: 22px;
  font-size: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  transform: rotate(90deg);
  color: #7d7b84;
}

.our-activity .our-activity-card.our-activity-programs-projects .card .collapsed .card-carret-ico {
  transform: rotate(0deg);
}

.our-activity .our-activity-card.our-activity-programs-projects .card .color-1,
.our-activity .our-activity-card.our-activity-programs-projects .card .color-2,
.our-activity .our-activity-card.our-activity-programs-projects .card .color-3 {
  transform: rotate(-86deg);
}

.our-activity .our-activity-card.our-activity-programs-projects .card .color-1 {
  top: 85px;
  right: -115px;
}

.our-activity .our-activity-card.our-activity-programs-projects .card .color-2 {
  top: 80px;
  right: -175px;
}

.our-activity .our-activity-card.our-activity-programs-projects .card .color-3 {
  top: 70px;
  right: -235px;
}

.our-activity .our-activity-card.our-activity-programs-projects .card.little-prince-card .card-header {
  min-height: 26px;
  position: absolute;
  top: 330px;
  width: 100%;
  opacity: 0.8;
  border-radius: 0;
}

.our-activity .our-activity-card.our-activity-programs-projects .card.little-prince-card .card-title {
  font-size: 34px;
  line-height: 34px;
  color: #fff;
  padding: 0;
}

.our-activity .our-activity-card.our-activity-programs-projects .card.little-prince-card small {
  color: #fff;
  font-size: 16px;
}

.our-activity .our-activity-card.our-activity-programs-projects .card .card-img {
  height: 414px;
  background-image: url(../img/little_prince.jpeg);
  background-position-y: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-activity .our-activity-card.our-activity-programs-projects .card .card-body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 28px;
  padding: 20px 32px;
}

.our-activity .our-activity-card.our-activity-programs-projects .card .card-body .accortion-main-title,
.our-activity .our-activity-card.our-activity-programs-projects .card .card-body .accortion-sub-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  color: #5e5e5e;
}

.our-activity .our-activity-card.our-activity-programs-projects .card .card-body .accortion-main-title {
  font-size: 22px;
}

.our-activity .our-activity-card.our-activity-programs-projects .card .card-body .accortion-sub-title {
  font-size: 20px;
  margin: 30px 0 10px;
}

.our-activity .our-activity-card.our-activity-programs-projects .card .card-body .accordion-film-list {
  margin-bottom: 30px
}

.our-activity .our-activity-card.our-activity-programs-projects .card-footer {
  padding: 0;
  height: 7px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.our-activity .our-activity-card .card-header {
  min-height: 15px;
  position: relative;
  overflow: hidden;
  background: #BF1616;
  padding: 0;
}

.our-activity .content-card:first-of-type .card-header {
  border-top-left-radius: 20px;
}

@media (max-width: 1200px) {
  .our-activity .content-card .card-header {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}

.our-activity .content-card:last-child .card-header {
  border-top-right-radius: 20px;
}

@media (max-width: 1200px) {
  .our-activity .content-card {
    margin: auto;
  }
}

.our-activity .our-activity-card .our-activity-card-title {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  position: absolute;
  top: 30px;
  left: 35px;
  margin: 0;
  font-size: 28px;
  z-index: 1;
}

.our-activity .our-activity-card .color {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  transform: rotate(0deg);
}

.our-activity .our-activity-card .color-1 {
  background: #600000;
  top: -35px;
  right: -70px;
  z-index: 3;
}

.our-activity .our-activity-card .color-2 {
  width: 300px;
  height: 300px;
  background: #790000;
  top: -55px;
  right: -94px;
  z-index: 2;
  border-radius: 40px;
}

.our-activity .our-activity-card .color-3 {
  width: 400px;
  height: 400px;
  background: #931111;
  top: -58px;
  right: -95px;
  z-index: 1;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 0px rgb(137, 5, 5);
}

.our-activity .content-card:first-of-type .card-header .color-3 {
  left: -95px;
  right: inherit;
}

.our-activity .content-card:first-of-type .card-header .color-2 {
  left: -94px;
  right: inherit;
}

.our-activity .content-card:first-of-type .card-header .color-1 {
  right: inherit;
  left: -70px;
}

.our-activity .our-activity-card .our-activity-card-body {
  position: relative;
  height: 195px;
  padding: 20px 30px 80px 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 25px;
  margin: 0 !important;
  text-align: justify;
}

@media (max-width: 1600px) {
  .our-activity .our-activity-card .our-activity-card-body {
    height: auto;
  }
}

@media (max-width: 1400px) {
  .our-activity .our-activity-card .our-activity-card-body {
    height: auto;
    text-align: center;
  }
}

.our-activity .our-activity-card .our-activity-card-body .our-activity-card-btn {
  position: absolute;
  width: 295px;
  text-align: left;
  bottom: 30px;
  left: -35px;
  background: #931111;
  border-color: #bf1616;
  border-radius: 5px;
  border: 0;
  z-index: 1;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  padding: 7px 0 7px 65px;
}

@media (max-width: 1400px) {
  .our-activity .our-activity-card .our-activity-card-body .our-activity-card-btn {
    position: static;
    padding: 7px 40px;
    text-align: center;
  }
}

.our-activity .our-activity-card.propaganda-card .our-activity-card-body .our-activity-card-btn {
  left: inherit;
  right: -35px;
}

.our-activity .our-activity-card.propaganda-card {
  margin-left: auto;
}

.our-activity .our-activity-card.propaganda-card .our-activity-card-body .our-activity-card-btn.contact-us-btn {
  left: 0;
  text-align: left;
  padding-left: 28px;
}

@media (max-width: 1400px) {
  .our-activity .our-activity-card.propaganda-card .our-activity-card-body .our-activity-card-btn.contact-us-btn {
    padding: 0 20px;
  }
}

.our-activity .our-activity-card .our-activity-card-body .our-activity-card-btn.contact-us-btn {
  left: 270px;
  padding: 0;
  line-height: 40px;
  background: transparent;
  color: #931111;
  width: calc(100% - 280px);
  font-size: 16px;
  text-align: right;
  padding-right: 20px;
}

@media (max-width: 1400px) {
  .our-activity .our-activity-card .our-activity-card-body .our-activity-card-btn.contact-us-btn {
    margin: 20px 0;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    width: auto;
  }
}

.our-activity .our-activity-card .our-activity-card-body .our-activity-card-btn.contact-us-btn::before {
  display: none;
}

.our-activity .our-activity-card .our-activity-card-body .our-activity-card-btn::before {
  content: '';
  position: absolute;
  bottom: -16px;
  z-index: -1;
  left: 4px;
  width: 0;
  height: 0;
  border-color: #bf1616;
  border-left: 11px solid #bf1616;
  border-bottom: 10px solid #bf1616;
  border-top: 6px solid transparent;
  border-right: 20px solid transparent;
  transform: rotate(-180deg);
}

.our-activity .our-activity-card.propaganda-card .our-activity-card-body .our-activity-card-btn::before {
  border-right: 11px solid #bf1616;
  border-left: 20px solid transparent;
  left: inherit;
  right: 4px;
}

.our-activity .list-group-flush .list-group-item {
  background: transparent;
  min-height: 110px;
}

@media (max-width: 1400px) {
  .our-activity .list-group-flush .list-group-item {
    min-height: auto;
  }
}

.our-activity .propaganda-card .list-group-flush .list-group-item {
  min-height: auto;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .our-activity .propaganda-card .list-group-flush .list-group-item {
    margin-bottom: 15px;
  }
}

.our-activity .our-activity-list-card {
  background: transparent;
  overflow: hidden;
  border-radius: 10px;
}

.our-activity .our-activity-list-card:hover {
  text-decoration: none;
}

.our-activity .our-activity-list-card .our-activity-list-card-ico {
  width: 74px;
  height: 74px;
  background: #ececec;
  position: relative;
  overflow: hidden;
}

.our-activity .our-activity-list-card .our-activity-list-card-ico.memmory-ico {
  background: #e0995e;
}

.our-activity .our-activity-list-card .our-activity-list-card-ico.task-ico {
  background: #76c2af;
}

.our-activity .our-activity-list-card .our-activity-list-card-ico img {
  position: absolute;
  bottom: -15px;
  right: -20px;
  transform: rotate(-23deg);
  width: 200px;
  max-width: 80px;
}

.our-activity .our-activity-card .our-activity-list-card .card-title {
  font-size: 18px;
  margin-bottom: 8px !important;
  font-family: 'Roboto Condensed', sans-serif;
  color: #3f3f3f;
  transition: color .3s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.our-activity .our-activity-card .our-activity-list-card:hover .card-title {
  color: #790000;
}

.our-activity .our-activity-card .card-footer {
  position: relative;
  overflow: hidden;
  background: #bf1616;
  height: 30px;
}

.our-activity .content-card:first-of-type .card-footer {
  border-bottom-left-radius: 15px;
}

@media (max-width: 1200px) {
  .our-activity .content-card:first-of-type .card-footer {
    border-bottom-right-radius: 15px;
  }
}

.our-activity .content-card:last-child .card-footer {
  border-bottom-right-radius: 15px;
}

@media (max-width: 1200px) {
  .our-activity .content-card:last-child .card-footer {
    border-bottom-left-radius: 15px;
  }
}

.our-activity .our-activity-card .card-footer .color-1 {
  top: -25px;
  right: auto;
  z-index: 3;
  right: -70px;
  height: 100px;
}

.our-activity .our-activity-card .card-footer .color-2 {
  width: 300px;
  height: 300px;
  background: #790000;
  top: -72px;
  right: -95px;
  z-index: 2;
  height: 150px;
}

.our-activity .our-activity-card .card-footer .color-3 {
  top: -63px;
  right: -95px;
  z-index: 1;
  box-shadow: 0px 0px 20px 0px rgb(137, 5, 5);
  height: 160px;
}

.our-activity .content-card:first-of-type .card-footer .color-1 {
  left: -70px;
  right: inherit;
}

.our-activity .content-card:first-of-type .card-footer .color-2 {
  left: -95px;
  right: inherit;
}

.our-activity .content-card:first-of-type .card-footer .color-3 {
  left: -95px;
  right: inherit;
}


/* TOP FIRST SECTION */

.top-first-section {
  height: calc(100vh - 370px);
  background-image: url(../img/roz-bg.jpeg);
  background-position-y: 16%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

@media (max-width: 1200px) {
  .top-first-section {
    height: calc(100vh - 500px);
    min-height: 250px;
    background-position-y: -13%;
  }
}

.top-slider {
  position: absolute;
  bottom: 0;
}

.top-slider::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  background: #fff;
}

.top-slider .carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-slider .carousel .carousel-indicators {
  justify-content: flex-start;
  margin: 0 0 35px 0;
}

.top-slider .carousel .carousel-indicators li {
  background: #931111;
  opacity: 0.5;
  border-radius: 5px;
  height: 10px;
  border: none;
  margin: 0 7px 0 0;
}

.top-slider .carousel .carousel-indicators li.active {
  opacity: 1;
}

.color-item-1,
.color-item-2,
.color-item-3 {
  border-radius: 50%;
  transform: rotate(4deg);
}

.color-item-1 {
  position: absolute;
  bottom: -150px;
  right: -275px;
  width: 700px;
  height: 500px;
  border-radius: 30px;
  background: #790000;
  z-index: -1;
}

.color-item-2 {
  position: absolute;
  bottom: -200px;
  right: -315px;
  width: 1100px;
  height: 700px;
  border-radius: 30px;
  background: #931111;
  z-index: -2;
}

.color-item-3 {
  position: absolute;
  bottom: -250px;
  right: -365px;
  width: 1500px;
  height: 900px;
  border-radius: 30px;
  background: #bf1616;
  z-index: -3;
}

@media (max-width: 1200px) {
  .color-item-1 {
    bottom: -20px;
    right: -275px;
    width: 700px;
    height: 500px;
  }

  .color-item-2 {
    bottom: -30px;
    right: -315px;
    width: 1100px;
    height: 700px;
  }

  .color-item-3 {
    bottom: -40px;
    right: -365px;
    width: 1500px;
    height: 900px;
  }
}

.carousel-control-next,
.carousel-control-prev,
.carousel-control-next:hover,
.carousel-control-prev:hover,
.carousel-control-next:active,
.carousel-control-prev:active,
.carousel-control-next:focus,
.carousel-control-prev:focus {
  color: #1D2124;
  font-size: 36px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 70px;
}

.top-first-section .carousel-inner {
  padding: 30px 0 60px 0;
}

.top-first-section .carousel-inner .carousel-txt {
  font-size: 28px;
  font-family: 'Comfortaa', cursive;
  font-style: italic;
}


/* TOP CARDS */

.top-cards .card {
  overflow: hidden;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.3);
  min-height: 390px;
  position: relative;
  bottom: 45px;
  border: none;
}

@media (max-width: 1600px) {
  .top-cards .card {
    min-height: 360px;
  }
}

@media (max-width: 1300px) {
  .top-cards .card {
    min-height: 320px;
  }
}

@media (max-width: 1200px) {
  .top-cards .card {
    bottom: 0;
    margin: 0 auto 50px;
    max-width: 500px;
    min-height: 290px;
  }
}

.top-cards * {
  transition: all 0.3s linear;
}

.top-cards .card-header {
  position: absolute;
  top: 0;
  bottom: 34px;
  right: 0;
  left: 0;
  border: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.top-cards .card-header.card-goals {
  background-image: url("../img/about_us.jpeg");
  background-position-y: top;
  background-size: cover;
}

.top-cards .card-header.card-about {
  background-image: url("../img/our_goals.jpeg");
  background-position: top;
}

.top-cards .card-header.card-projects {
  background-image: url("../img/projects.jpeg");
  background-position-y: top;
}

.top-cards .card-title {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.top-cards .card-title::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  background: #fff;
  transition: all 0.3s linear;
}

.top-cards .card-title .card-title-txt {
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  margin-bottom: 0;
  font-size: 25px;
}

.top-cards .card-body {
  position: absolute;
  bottom: 0;
  top: 185px;
  padding-top: 24px !important;
}

@media (max-width: 1800px) {
  .top-cards .card-body {
    top: 170px;
  }
}

@media (max-width: 1600px) {
  .top-cards .card-body {
    top: 170px;
    padding: 20px !important;
  }
}

@media (max-width: 1550px) {
  .top-cards .card-body {
    top: 150px;
  }
}

@media (max-width: 1440px) {
  .top-cards .card-body {
    top: 170px;
  }
}

@media (max-width: 1300px) {
  .top-cards .card-body {
    top: 140px;
    padding: 16px !important;
  }
}

@media (max-width: 1200px) {
  .top-cards .card-body {
    top: 140px;
  }
}

.top-cards .card-body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  background: #fff;
  transition: all 0.3s linear;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.top-cards .card:hover .card-body::before {
  opacity: 0.8;
}

.top-cards .card-text {
  position: relative;
  margin-bottom: 0;
  z-index: 1;
  opacity: 0.6;
  font-size: 16px;
  line-height: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 1600px) {
  .top-cards .card-text {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 1440px) {
  .top-cards .card-text {
    font-size: 13px;
    line-height: 20px;
  }
}

.top-cards .top-card-button {
  position: absolute;
  bottom: -50px;
  right: 20px;
  height: 32px;
  border-radius: 16px;
  line-height: 30px;
  padding: 0 15px;
}

.top-cards .card-footer {
  padding: 2px 23px;
  position: relative;
  top: 356px;
  width: 100%;
  line-height: 30px;
  font-style: italic;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  background: #fff;
  z-index: 10;
  opacity: 0.8;
}

@media (max-width: 1600px) {
  .top-cards .card-footer {
    top: 327px;
    padding: 2px 20px;
  }
}

@media (max-width: 1300px) {
  .top-cards .card-footer {
    top: 288px;
    font-size: 12px;
    padding: 0 10px;
  }
}

@media (max-width: 1200px) {
  .top-cards .card-footer {
    top: 256px;
  }
}


/* TOP CARDS :hover */

.top-cards .card:hover .card-title {
  border: 0;
}

.top-cards .card:hover .card-body {
  position: absolute;
  bottom: 0;
  top: 140px;
}

@media (max-width: 1300px) {
  .top-cards .card:hover .card-body {
    top: 125px;
  }
}

@media (max-width: 1200px) {
  .top-cards .card:hover .card-body {
    top: 115px;
  }
}

@media (mxa: 1800px) {
  .top-cards .card:hover .card-body {
    bottom: 0;
    top: 145px;
  }
}

.top-cards .card:hover .card-header {
  bottom: 0;
}

.top-cards .card:hover .card-footer {
  top: 392px;
  opacity: 1;
}

@media (max-width: 1200px) {
  .top-cards .card:hover .card-footer {
    top: 256px;
  }
}

.top-cards .card:hover .top-card-button {
  bottom: 14px;
}

@media (max-width: 1200px) {

  .top-cards .card .top-card-button,
  .top-cards .card:hover .top-card-button {
    bottom: inherit;
    top: -16px;
  }
}

.top-cards .card:hover .card-text {
  opacity: 0.9;
}

.top-cards .card:hover .card-title::before {
  opacity: 1;
}


/* QUOTES */

.quotes .card {
  min-height: 275px;
  border: none;
  border-radius: 0;
  background: transparent;
}

.quotes .card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #fafafa;
  opacity: 0.95;
  z-index: -1;
}

@media (max-width: 1440px) {
  .quotes .card {
    max-width: 750px;
    margin: auto;
  }
}

@media (max-width: 1200px) {
  .quotes .card {
    background: transparent;
    margin: 50px auto;
  }

  .quotes .card::before {
    content: '';
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 0;
    opacity: 0.6;
  }

  .quotes .card-body {
    position: relative;
    text-align: center;
    width: 100%;
    justify-content: center;
  }
}

.quotes .card .card-text {
  font-size: 20px;
  border-left: 4px solid #78152b;
  padding: 15px 0 15px 20px;
  font-style: italic;
  font-weight: 600;
}

@media (max-width: 1800px) {
  .quotes .card .card-text {
    font-size: 18px;
  }
}

@media (max-width: 1440px) {
  .quotes .card .card-text {
    font-size: 18px;
  }
}

.quotes .card .card-footer {
  background: transparent;
}

@media (max-width: 1440px) {
  .quotes .card .card-footer {
    font-size: 14px;
  }
}

@media (max-width: 1300px) {
  .quotes .card .card-footer {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .quotes .card .card-footer {
    background: transparent;
    position: relative;
    font-size: 14px;
  }
}

.quotes .card .card-footer .card-footer-link {
  margin-bottom: 0;
  font-style: italic;
}

@media (max-width: 1440px) {
  .quotes .card .card-text {
    font-size: 16px;
    border: none;
    text-align: left;
  }
}

@media (max-width: 1300px) {
  .quotes .card .card-text {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .quotes .card .card-text {
    font-size: 16px;
  }
}

.quotes .card .card-footer::before {
  content: '';
}

.btn.btn-roz {
  padding: 0 30px;
  cursor: pointer;
}

.btn.btn-roz:hover,
.btn.btn-roz {
  background-color: #fff;
  font-size: 14px;
  line-height: 28px;
  border: 2px solid #931111;
  box-sizing: border-box;
  margin-right: -2px;
  color: #78152b;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.5px;
}

.btn.btn-roz.btn-roz-solid {
  background: #931111;
  color: #fff;
}

.btn.btn-roz.btn-roz-solid.btn-outline {
  color: #931111;
  background: #fff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background: #931111;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 38, 0.68);
  border-color: #931111;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 38, 0.68);
}

@media (max-width: 1300px) {
  .btn.btn-roz {
    font-size: 13px;
    height: 25px;
    line-height: 20px;
    padding: 0 20px;
  }
}


/* MAIN PAGE BOTTOM */

.main-page-bottom .roz-content-lists .list-header-card {
  border: 2px solid #4f5d73;
  border-top-right-radius: 36px;
  border-top-left-radius: 8px;
  background: #4f5d73;
  color: #fff;
}

.roz-content-lists .roz-content-lists-icon {
  width: 100px;
  height: 100px;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}


/* CALENDAR */

.calendar {
  padding: 30px 0 90px;
  position: relative;
  margin-top: 300px;
}

.calendar .calendar-bg-1 {
  background: #95C5DE;
  content: '';
  width: 200vw;
  height: 250px;
  position: absolute;
  left: -200px;
  top: 615px;
  transform: rotate(13deg);
  z-index: -1;
}

.calendar .calendar-bg-2 {
  background: #E0EEFB;
  content: '';
  width: 200vw;
  height: 250px;
  position: absolute;
  left: -200px;
  top: 756px;
  transform: rotate(19deg);
  z-index: -2;
  box-shadow: 0px 0px 20px 0px rgb(149, 197, 222);
}

.calendar .roz-title {
  margin-bottom: 150px;
}

.calendar .list-group-item {
  border-radius: 22px !important;
}

.calendar .events-card .card {
  border-radius: 20px !important;
  border: 3px solid #61a2c6 !important;
}

.calendar .card {
  background: transparent;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar .events-card {
  margin-top: -50px;
}

.calendar-card .calendar-card-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 23px;
  background: #c75c5c;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 3px 5px -1px #adb5bd;
}

.calendar .btn-go-to-calendar-list {
  position: absolute;
  bottom: -80px;
  padding: 7px 30px;
  color: #931111;
  background: #fff;
}

.calendar-card .calendar-card-top::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 15px;
  top: -5px;
  left: 10px;
  background: #ffc107;
  border-radius: 3px;
}

.calendar-card .calendar-card-top::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 15px;
  top: -5px;
  left: auto;
  right: 10px;
  background: #ffc107;
  border-radius: 3px;
}

.roz-content-lists-date {
  max-width: 85px;
  width: 85px;
  height: 90px;
  position: relative;
  padding: 13px 0 0;
  margin: 8px 20px 7px 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.roz-content-lists-date .day {
  font-size: 25px;
  line-height: 36px;
  color: #5E5E5E;
}

.roz-content-lists-date .month {
  font-size: 11px;
  line-height: 11px;
  color: #5E5E5E;
}

.roz-content-lists-date .year {
  font-size: 12px;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  text-align: center;
  color: #fff;
}

.calendar .calendar-main-card {
  padding-top: 40px;
  border-radius: 28px;
  max-width: 315px;
  position: relative;
  bottom: 55px;
}

.calendar .calendar-main-card .calendar-card-top::after,
.calendar .calendar-main-card .calendar-card-top::before {
  width: 16px;
  height: 40px;
  border-radius: 8px;
  top: -16px;
  left: 20px;
}

.calendar .calendar-main-card .calendar-card-top::after {
  left: auto;
  right: 20px;
}

.calendar .calendar-main-card .calendar-card .calendar-card-top {
  height: 44px;
  box-shadow: 0 3px 5px -1px #adb5bd;
}

.calendar .card-title {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #5e5e5e;
}

.roz-content-lists-date {
  font-family: 'Comfortaa', cursive;
  background: #F3F3F3;
  box-shadow: 0 3px 5px -1px #adb5bd;
}

.calendar-main-card .year {
  font-size: 20px;
  line-height: 45px;
}

.calendar .calendar-main-card .month {
  font-size: 33px;
  line-height: 44px;
}

.calendar .calendar-main-card .day {
  font-size: 100px;
  line-height: 100px;
  padding: 20px 0 0;
}

.main-page-bottom .roz-content-lists .top-card-button {
  line-height: 40px;
  border-radius: 0;
  border-bottom-left-radius: 36px;
  margin-right: 2px;
}

.main-page-bottom .roz-content-lists .page-item .page-link {
  width: 44px;
  height: 44px;
  border: 2px solid #78152b;
  border-radius: 0;
  padding: 0;
  font-size: 25px;
  color: #78152b;
  z-index: 0;
  margin-right: -2px;
}

.main-page-bottom .roz-content-lists .page-item:last-child .page-link {
  border-bottom-right-radius: 8px;
}

.main-page-bottom .roz-content-lists .roz-content-lists-icon-img {
  font-size: 45px;
}

.main-page-bottom .roz-content-lists .card-footer {
  background: #fff;
}

.main-page-bottom .roz-content-lists .list-header-card .card-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #fff;
}

.main-page-bottom .roz-content-lists .list-header-card .card-title .card-title-icon {
  font-size: 24px;
  margin-right: 16px;
}

.main-page-bottom .roz-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page-bottom .roz-list-card .card-title {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-page-bottom .roz-list-card .card-text {
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.roz-title {
  margin: 50px 0 60px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1300px) {
  .roz-title {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 1200px) {
  .roz-title {
    margin-bottom: 25px;
    text-align: center !important;
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 768px) {
  .roz-title {
    font-size: 30px;
    line-height: 45px;
  }
}

.roz-title.our-activity-title {
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
  padding: 0px 27px;
}

.propaganda-card .roz-title.our-activity-title {
  /* padding: 0px 30px 0 0; */
}


.roz-title-small {
  font-size: 18px;
  line-height: 30px;
  padding-left: 2px;
  font-weight: 400;
}

@media (max-width: 1300px) {
  .roz-title-small {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 1200px) {
  .roz-title-small {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  .roz-title-small {
    font-size: 14px;
    line-height: 16px;
  }
}

.roz-title.our-activity-title::before {
  content: "";
  position: absolute;
  width: 40vw;
  height: 200px;
  background: #f9f9f9;
  right: 0;
  top: 0px;
  transform: rotate(9deg);
  border-radius: 30px;
  z-index: -1;
}

@media (max-width: 1200px) {
  .roz-title.our-activity-title::before {
    width: 70vw;
    top: 92px;
    right: -100px;
  }
}


/* OWL CAROUSEL */

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.owl-carousel .owl-item img {
  max-width: 15vh;
}

.friends {
  margin: 200px 0 275px;
}

.friends .roz-title {
  color: #37383c;
}


/* FOOTER */

.footer {
  background: #37383c;
  padding: 60px 0 0;
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  top: -140px;
  left: -1px;
  right: -1px;
  height: 175px;
  background-image: url("../img/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.footer .footer-header {
  color: #cdcdc8;
  font-size: 23px;
  font-family: 'Oswald', sans-serif;
}

.footer .footer-txt {
  font-size: 13px;
  font-style: italic;
  color: #7d7b84;
}

.footer .krk-logo {
  max-width: 200px;
  position: relative;
  right: 20px;
  bottom: 12px;
}

.footer .footer-social {
  height: 40px;
  background: #2d2e31;
  margin-top: 40px;
}

.footer .footer-social-item {
  border-top: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
  color: #F2F2F2;
}

.footer .footer-social-item:first-child {
  border-left: none;
}

.footer .footer-social-item .footer-social-item-ico {
  font-size: 20px;
}

.footer .footer-list-group .list-group-item {
  background: transparent;
  border: none;
}

.footer .footer-list-group .list-group-item,
.footer .footer-list-group .list-group-item .footer-link {
  color: #7d7b84;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 0 0 0 4px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 30px;
}

.footer .footer-list-group.footer-list-group-center .list-group-item {
  margin-bottom: 8px;
  color: #9c9c9c;
}

.footer .footer-list-group.footer-list-group-center .list-group-item .fas {
  margin: 0px 10px 0 14px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-list-group .list-group-item .footer-link:hover {
  text-decoration: none;
}

.footer .footer-list-group .list-group-item .card-carret-ico {
  padding-bottom: 15px;
  transform: rotate(-90deg);
  font-size: 15px;
}

.modal-content {
  width: auto;
  border-radius: 20px;
  overflow: hidden;
}

.modal .modal-dialog {
  max-width: inherit;
  min-width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal-dialog .modal-body {
  margin-bottom: -6px;
}

.modal .modal-dialog .modal-header {
  background: #931111;
  border-bottom: 0;
  padding: 10px 18px;
}

.modal .modal-dialog .modal-header .modal-title {
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  opacity: 0.8;
  padding-left: 6px;
}

.modal-header .close {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 12px;
}

.modal-header .close .fas {
  color: #fff;
  opacity: 1;
  text-shadow: none;
  font-size: 16px;
}

.slide-item {
  position: fixed;
  bottom: 25px;
  right: -1px;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  z-index: 9999;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #ececec;
  color: #7d7b84;
  cursor: pointer;
  transition: all 0.3s linear;
}

.slide-item .card-carret-ico {
  transform: rotate(0);
  transition: all 0.3s linear;
}

.slide-item.to-top {
  bottom: 80px;
  transition: all 0.3s linear;
}

.slide-item:before {
  content: "\f107";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  transform: rotate(0);
  transition: all 0.3s linear;
}

.slide-item.to-top:before {
  transform: rotate(180deg);
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 0.3s linear;
}

.loader.loaded {
  opacity: 0;
  z-index: -1;
}

.spiner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #78152b;
  border-bottom: 16px solid #78152b;
  width: 370px;
  height: 370px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-content {
  position: relative;
}

.loader-content-box {
  position: absolute;
  top: 129px;
  right: 75px;
}

.form-control {
  background: transparent;
}

nav {
  background: transparent;
}

.breadcrumb {
  background: transparent;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0px 20px;
}

.roz-select select {
  border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: "";
  width: 200px;
}

.roz-select select::-ms-expand {
  display: none;
}

.pagination .page-link {
  font-size: 13px;
  font-family: 'Roboto Condensed', sans-serif;
  background: transparent;
  border: none;
  color: #5e5e5e;
  transition: all .3s linear;
}

.pagination .page-link:hover {
  color: #5e5e5e;
  background-color: #f3f3f3;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1200px) {
  .navbar-expand-roz .navbar-toggler {
    display: none;
  }
}